.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.gitignore
Data/
3. Qualitative Exploration/Data/
3. Qualitative Exploration/Codebook-Abstraction-Notes
4. Sentiment Analysis/Data/
4. Sentiment Analysis/Training & Evaluation/